@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.todos-bg-container {
    background-image: linear-gradient(to right, #FFF0F5, #eeaeca, #94bbe9);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.todos-heading {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 54px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Bebas Neue";
    font-size: 32px;
    font-weight: 800;
}

.create-task-heading-subpart {
    font-family: "Bebas Neue";
    font-size: 32px;
    font-weight: normal;
}

.todo-items-heading {
    font-family: "Bebas Neue";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Bebas Neue";
    font-size: 32px;
    font-weight: normal;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add-todo-button {
    letter-spacing: 1.5px;
    color: white;
    background-color: #4c63b6;
    font-family: "Bebas Neue";
    font-size: 20px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px 20px;
}

.label-container {
    background-color: #F5F5F5;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #6A5ACD;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding: 10px 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.footer-text {
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.follow-us-section {
    background-color: white;
    position: absolute;
    bottom: 0;
}

.follow-us-icon-container {
    background-color: #E6E6FA;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin: 15px;
    padding: 15px 16px 14px;
    cursor: pointer;
}

.icon {
    color: #7B68EE;
    font-size: 32px;
}

.todos {
    margin-bottom: 90px;
}